.header {
  background-image: url('./Images/headerkuva.png');
  background-size: cover;
  background-position: center;
  position: fixed;
  padding: 0;
  width: 98%;
  height: 170px;
  min-height: 60px;
  background-color:rgb(147, 127, 221);
  border-radius: 10px;

  margin: 0 auto;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  border: none;
}

.hakupalkki {

  width: 94%; 
  height: 30%;
  max-height: 50px;   
  padding: 0;
  font-size: 18px;
  border-radius: 10px;
  border: 0px solid #000000;
  background-color:  rgba(233, 222, 255, 0.945);
  margin-top: 60px;
  margin-left: 2.5%;
  box-shadow: #be0000;
}
@media (max-width: 440px) {
  .hakupalkki {
    margin-top: 45px;
  }

}

.kuva-nappi {
  max-width: 90px;
  width: 15%;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  margin: -2%; 
  margin-bottom: 30px;
  margin-top: -50px;
}


.kuva-nappi img {
  min-width: 60px;
  position: sticky;
  max-width: 65px;
  padding: 0;
  width: 100%;
  display: block;
  margin-bottom: -100%;
  margin-left: 10px;

}


.logo {
  margin: -2%; 
  position: sticky;
  width: 48%;
  max-width: 400px;
  min-width: 300px;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;

  margin-bottom: -200px;
  margin-left: 20%;
  margin-top: -20px;
  bottom: calc(99%);
}


@media (min-width: 450px) {
  .menu {
    max-width: 35%;
  }
  .kuva-nappi img {
    margin-left: 15px;
  }
}
@media (min-width: 650px) {
  .logo {
    margin-top: -4% !important;
  }
  .menu {
    max-width: 30%;
  }
  .kuva-nappi img {
    margin-left: 22px;
  }
}
@media (min-width: 700px) {
  .logo {
    margin-top: -5% !important;
  }
  .menu {
    max-width: 27%;
  }
  .kuva-nappi img {
    margin-left: 35px;
  }
}
@media (min-width: 1000px) {
  .logo {
    margin-top: -4% !important;
  }
  .menu {
    max-width: 25%;
  }
  .kuva-nappi img {
    margin-left: 45px;
  }
}
@media (min-width: 1300px) {
  .logo {
    margin-top: -3% !important;
  }
  .menu {
    max-width: 20%;
  }
  .kuva-nappi img {
    margin-left: 53px;
  }
}
@media ( min-width: 1300px) {
  .kuva-nappi img {
    margin-left: 65px;
  }
  .logo {
    margin-top: -2% !important;
}
}


.isokuva{
width: 100%;
margin-left: -1.5%;
min-height: 1px;
margin-top: -3%;
}


.menu {
  z-index: 2;
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1a0830b9;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;
  border-radius: 0 20px 0 0;
}

.menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #d2c1ff;
  display: block;
  transition: 0.3s;
}

.menu a:hover {
  color: #ded8ff;
}


.menu .sulje {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.main {

  position: absolute;
  padding: 0%;
  font-size: 80%;
  margin-left: 2%;
  margin-top: 170px;
  margin-bottom: -50px;
  min-height: calc(85vh - 50px);
}
* {box-sizing:border-box}


.suositut {
  align-items: center;

  position: relative;
  margin: auto;
  margin-right: 2%;
}

.slidet {
  display: none;

}

.edellinen, .seuraava {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0px 100px 100px 0px;
  user-select: none;
  background-color: rgba(62, 28, 126, 0.342);
}

.seuraava {
  right: 0;
  border-radius: 100px 0 0 100px;
background-color: rgba(62, 28, 126, 0.342);
}

.edellinen:hover, .seuraava:hover {
  background-color: rgba(62, 28, 126, 0.342);
}

.captioni {
  color: #000000;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  text-shadow: -1.5px -1.5px 3px rgb(255, 255, 255),
                1.5px 1.5px 3px rgb(255, 255, 255);
}

.numbertext {
  color: #000000;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  text-shadow: -1.5px -1.5px 3px rgb(255, 255, 255),
                1.5px 1.5px 3px rgb(255, 255, 255);
}

.piste, .piste2 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba(147, 127, 221, 0.308);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .piste:hover {
  background-color: rgb(147, 127, 221);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.footer {
  position: absolute;
  left: 0;
  margin-left: -0.5%;
  width: 98%;
  right: 0;
  background-color: #7e66ccef;
  color: white;
margin-bottom: -100px;
  padding: 10px;
  border-radius: 20px 20px 0px 0px;
}


.collapsible {
  background-color: #130b2700;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
}

.active, .collapsible:hover {
  background-color: #130b2712;
}

.content {
  font-size: 18px;
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #ffffff00;
}


.kasityo button {
  border: none;
  border-radius: 20px;
  outline: 0;
  padding: 4px;
  color: rgb(0, 0, 0);
  background-color: #7a2dff17;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.kasityo button:hover {
  opacity: 0.7;
}
.kasityo {
  border-radius: 15px;
  float: left;
  width: 47%;
  margin-right: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: Arial, sans-serif;
  margin-bottom: 30px;
}
